/* main.css*/

* { /* Very basic browser default style reset. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Flex container (does not need to be body! Just used in this example.) */
.flexbox { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Flex Items*/
.flex-item { 
    display: block;
    width: 100%;
    height: 460px;
}

.item-1 { 
    background: #5d8aa8;
    text-align: center;
    padding: 200px;
    color: aliceblue;
}

.item-2 { 
    background: #ffbf00;
    text-align: center;
    padding: 200px;
    color: aliceblue;
  
}


.item-3 { 
    background: #e32636;
    text-align: center;
    padding: 200px;
    color: aliceblue;
    
}

.item-4 { 
    background: #aa44cc;
    text-align: center;
    padding: 200px;
    color: aliceblue;
    
}

.item-5 { 
    background: #bbeeaa;
    text-align: center;
    padding: 200px;
    color: aliceblue;
}

.item-6 { 
    background: #99aa99;
    text-align: center;
    padding: 200px;
    color: aliceblue;
}

@media screen and (min-width: 768px){

    .item-2,
    .item-3,
    .item-5,
    .item-6{
        width:50%;
    }    

}

@media screen and (min-width: 1200px){

    .item-2,
    .item-3,
    .item-4 {
        width:33.333%;
    }    

    .item-5,
    .item-6{
        width:50%;
    }    

}
